@model IEnumerable<BeersSite.Models.BeerViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @using (Html.BeginForm("Index", "Beers", FormMethod.Get))
    {
        <h3> Search Options: </h3><br/>
        <div class="ctrl-input">
            <text>Name:</text><br/>
            @Html.TextBox("name")
        </div>
        <div class="ctrl-input">
            <text>Year:</text><br/>
             @Html.TextBox("year") <text>Format YYYY</text>
        </div>
        <div class="ctrl-input">
            <text>Page:</text><br/>
             @Html.TextBox("pageNumber")
        </div>
        <div class="ctrl-btn">
            <input class="btn btn-primary" type="submit" name="submit" value="Search" />
        </div>
    }
</div>
<hr/>
<div class="container-fluid dunkel-background">
    @if (@Model.First().currentPage == 0)
    {
        <p>Sorry, there are no records!</p>
    }
    else
    {
        <p>@Model.First().currentPage of @Model.First().numberOfPages</p>
        <table id="beers">
            <thead>
                <tr>
                    <th>Beers</th>
                    <th>Descrption</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var beer in Model)
                {
                    <tr class="table-bordered">
                        <td>@beer.name</td>
                        <td>@beer.description</td>
                        <td>@Html.ActionLink("Details", "Details", "Beers", new { id = beer.id }, new { @class = "btn btn-primary" })</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#beers").DataTable({
                "paging": false,
                "searching": false,
                "info": false,
                "columnDefs": [
                    { "orderable": false, "targets": [1, 2] }
                ]
            });
        });
    </script>
}
